{% extends "base.html" %} 

{% block title %}
Inkommande beställningar
{% endblock %}

{%block content%}

{%for consumer in orders%}
    {% for order in orders[consumer] %}
        {%for x in order%}
            {%for producer in order[x] %}
                {%if producer.get_name() == user.get_name()%}
                    <div class="d-grid gap-2">
                        <label class="btn btn-success">
                            {{consumer.get_name()}}
                        </label>
                    </div>
                    <br/>
                        {%for product in order[x][producer]%}

                    <div class="card" style="width: 35rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{product.get_name()}}</h5>
                        <h6 class="card-text">{{product.get_description()}}</h6>
                        <p class="card-text">Antal: {{order[x][producer][product]}} </p>
                        <p class="card-text">Pris: {{product.get_price()}}kr</p>
                        <p class="card-text">Totalt:{{product.get_price()*order[x][producer][product]}} kr</p>
                        </div>
                    </div>
                    {%endfor%}
                {%endif%}
            {%endfor%}
        {%endfor%}
      {%endfor%}
{%endfor%}


{% endblock%}