{% extends "base.html" %} 
{% block title %}
Hantera produkt
{% endblock %}

{% block content %}
<h1>Hantera produkter</h1>


{% for product in products%}
<div class="card" style="width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">{{product.get_name()}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{product.get_producer()}}</h6>
      <p class="card-text">{{product.get_description()}}</p>
      <p class="card-text">Pris:{{product.get_price()}}kr</p>
      
      <a class="btn btn-primary"  href="/add_product" class="card-link">Uppdatera</a>
    </div>
  </div>
{%endfor%}

{% endblock %}