{% extends "base.html" %} 
{% block title %}
Hantera produkt
{% endblock %}

{% block content %}
<h1>Hantera produkter</h1>
<div><a role="button" class="btn btn-success me-md-1" href="/add_product">Ny produkt</a></div>
</br>

{% for product in products%}
{% if product.get_producer() == user%}
<div class="card" style="width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">{{product.get_name()}}</h5>
      <p class="card-text">{{product.get_description()}}</p>
      <p class="card-text">Pris: {{product.get_price()}} kr
        </br>
        Saldo: {{product.get_quantity()}} st
      </p>
      
      
      <!-- <div class="form-check form-switch">
        {%if product.get_is_for_sale()%}
        <input class="form-check-input" type="checkbox" id="for_sale" checked >
        <label class="form-check-label" for="flexSwitchCheckDefault">Produkt finns tillgänglig</label>
      </div>
      {%else%}
      <input class="form-check-input" type="checkbox" id="for_sale" >
        <label class="form-check-label" for="flexSwitchCheckDefault">Produkt finns tillgänglig</label>
      </div>
      {%endif%} -->
      <!--<a class="btn btn-outline-success me-md-1"  href="#" class="card-link" disabled>Uppdatera</a>   Kommenterat bort för prototypen så länge // GE-->
    </div>
  </div>
{%endif%}
{%endfor%}


{% endblock %}