{% extends "base.html" %} 
{% block title %}Min order{% endblock %}

{% block content %}
<h1>Ordrar</h1>
<form method="POST">
  <div class="form-group">
    <label for="chouse_order">Välj order</label>
    <select class="form-control" id="chouse_order">
        {% set order_history = user.get_order_history() %}
        {% for orders in order_history%}
        {% for order in orders %}
        {% for time in order %}
        <option value=order>{{time}}</option>
        {%endfor%}
        {%endfor%}
        {%endfor%}
    </select>
        <button type="submit" class="btn btn-outline-success me-md-1">Välj</button> 
    </div>
</form>

{% endblock %}