{% extends "base.html" %} 
{% block title %}Min order{% endblock %}

{% block content %}
<h1>Ordrar</h1>
<form method="POST">
  <div class="form-group">
    <label for="chouse_order">Välj order</label>
    <select class="form-control" id="chouse_order">
        {% for order in user.get_order_history()%}
        <option value=order>{{order[1]}}</option>
        {%endfor%}
    </select>
        <button type="submit" class="btn btn-outline-success me-md-1">Välj</button> 
    </div>
</form>

{% endblock %}