{% extends "base.html" %} 
{% block title %}Välj Region {% endblock %}

{% block content %}
<h1>Välj Region</h1>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"  data-toggle="dropdown" aria-expanded="false">
      Region
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">VästraGötaland</a></li>
      <li><a class="dropdown-item" href="#">Bohuslän</a></li>
      <li><a class="dropdown-item" href="#">Halland</a></li>
    </ul>
</div>


{% endblock %}