{% extends "base.html" %} 

{% block title %}
Varukorg
{% endblock %}

{% block content %}
<h1>Varukorg</h1>
<div class="d-grid gap-2">
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{namn}}
    </a>
</div>
<br/>
<div class="collapse" id="collapseExample">
    {% for product in products%}
        <div class="card" style="width: 35rem;">
            <div class="card-body">
            <h5 class="card-title">{{product.get_name()}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{product.get_producer()}}</h6>
            <p class="card-text">{{product.get_description()}}</p>
            <p class="card-text">Pris:{{product.get_price()}}kr</p>
            
            <a type="button" class="btn-close" aria-label="Close"></a>
            </div>
        </div>
    {%endfor%}
</div>

{% endblock %}