{% extends "base.html" %} 

{% block title %}
Varukorg
{% endblock %}

{% block content %}
<h1>Varukorg</h1>
{% if user.get_producers()%}
<form method="Post">
<h3>Totalt {{ user.sum_producer()}} kr</h3>
  {% set cart = user.get_cart_list() %}
  {% for producer in user.get_producers()%}
  {% set sum_prod = user.sum_per_producer()%}
  <br/>
      <div class="d-grid gap-2">
          <label class="btn btn-outline-success">
              {{producer}} Summa: {{sum_prod[producer]}} kr
          </a>
      </div>
      <br/>
          {% for product in cart %}
              {% set tot_prod = product.get_price() * cart[product] %}
              {% if producer == product.get_producer() %} 
                <div class="card" style="width: 35rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{product.get_name()}}</h5>
                    <h6 class="card-text">{{product.get_description()}}</h6>
                    <p class="card-text">Antal: {{cart[product]}}</p>
                    <p class="card-text">Pris: {{product.get_price()}}kr</p>
                    <p class="card-text">Totalt: {{tot_prod}}kr</p>
                    </div>
                </div>
              {% endif %}
          {%endfor%}
  {%endfor%}
  <button class="btn btn-outline-success me-md-1" type="submit" value="hej" name="buy_cart">Genomför köp</button>
</form>
{% else %} 
<h2>Varukorgen är tom. Gå till handla för att lägga till produkter</h2>
{% endif %}

{% endblock %}