{% extends "base.html" %} 

{% block title %}
Varukorg
{% endblock %}

{% block content %}
<h1>Varukorg</h1>
<form method="Post">
    <input class="form-control" list="datalistOptions" id="set_ring" name="set_ring" placeholder={{current_ring}}>
    <datalist id="datalistOptions">
    {% for ring in ringar %}
      <option value={{ring.get_name()}}>
        {% endfor %}
    </datalist><button type="submit" class="btn btn-outline-success me-md-1">Välj</button>
    
 </form>
 <form method="Post">
{% for producer in user.get_producers()%}
{{producer}}
{%endfor%}

{% set dict = user.get_cart_list() %}
{% for products in dict %}
{{products.get_name()}}
{{dict[products]}}
{%endfor%}


</form>

{% endblock %}